name: Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      directory:
        description: 'Select the directory (week) to build and push'
        required: true
        type: choice
        options:
          - week3
          - week4
          - week5
      image_tag:
        description: 'Tag for the Docker image (e.g., v1.0, latest)'
        required: true
        default: 'latest'
        type: string

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase repository owner
        id: prep
        run: |
          echo "OWNER_LOWERCASE=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_OUTPUT

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: ./Learn/${{ github.event.inputs.directory }}
          file: ./Learn/${{ github.event.inputs.directory }}/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.prep.outputs.OWNER_LOWERCASE }}/playground-${{ github.event.inputs.directory }}:${{ github.event.inputs.image_tag }}
            ghcr.io/${{ steps.prep.outputs.OWNER_LOWERCASE }}/playground-${{ github.event.inputs.directory }}:latest
